.headingLink {
	text-decoration: none;
	color: inherit;
	text-align: left;
}

.headingLink > h1 {
	padding-block-start: 1rem;
}

.headingLink:hover {
	text-decoration-line: underline;
	color: hsl(var(--clr-white) / 0.75);
}

.icon {
	font-size: 75%;
	color: hsl(var(--clr-white) / 0.75);
}

.link {
    color: hsl(var(--clr-white) / 0.75);
}
