/* Global css */
/* -------------------------------- */
/* Custom properties                */
/* -------------------------------- */
:root {
	/* Main colors */
	--clr-dark: 218 13% 10%;
	--clr-less-dark: 218 23% 20%;
	--clr-white: 0 0% 100%;
    --clr-grey: 0 0% 70%;
	--clr-light: 201 82% 78%;
	--clr-accent-r: 0 73% 60%;
	--clr-accent-g: 146 91% 60%;
	--clr-accent-b: 193 85% 53%;

	/* Font families */
	--ff-serif: "Trirong", serif;
	--ff-sans-normal: "Encode Sans", sans-serif;
	--ff-sans-cond: "Encode Sans Condensed", sans-serif;

	/* Font sizes */
	--fs-900: clamp(5rem, 7vw + 1rem, 9.375rem);
	--fs-800: 3rem;
	--fs-700: 2rem;
	--fs-600: 1.75rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;

	--line-thick: 3px;

	--shadow-dark: 4px 4px hsl(var(--clr-dark));
}

/* -------------------------------- */
/* Reset                            */
/* -------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

/* Un-bold the headings */

h1,
h2,
h3,
h4,
h5,
p {
	font-weight: 400;
}

/* Body set-up */
body {
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	/* Dark background with white text by default */
	background-color: hsl(var(--clr-dark));
	color: hsl(var(--clr-white));
	line-height: 1.5; /* slightly bigger than default */
	min-height: 100vh; /* fills up entire screen for small pages */
}

@media (prefers-reduced-motion) {
	* {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		transition: none !important;
	}
}
