
/* -------------------------------- */
/* Utility classes                  */
/* -------------------------------- */

.flex {
	display: flex;
	/* custom property, and default */
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	/* custom property, and default */
	gap: var(--gap, 1rem);
}

.bgDark {
	background-color: hsl(var(--clr-dark));
}
.bgWhite {
	background-color: hsl(var(--clr-white));
}
.bgLight {
	background-color: hsl(var(--clr-light));
}
.bgAccent_r {
	background-color: hsl(var(--clr-accent-r));
}
.bgAccent_g {
	background-color: hsl(var(--clr-accent-g));
}
.bgAccent_b {
	background-color: hsl(var(--clr-accent-b));
}

.textDark {
	color: hsl(var(--clr-dark));
}
.textWhite {
	color: hsl(var(--clr-white));
}
.textLight {
	color: hsl(var(--clr-light));
}
.textAccentR {
	color: hsl(var(--clr-accent-r));
}
.textAccentG {
	color: hsl(var(--clr-accent-g));
}
.textAccentB {
	color: hsl(var(--clr-accent-b));
}

/* or .flow > * + *  */
.flow > *:where(:not(:firstChild)) {
	margin-top: var(--flow-space, 1rem);
}

.flow_spaceSmall {
	--flow-space: 0.5rem;
}

.container {
	/* Adds some padding, and automatic margin, so the content will grow until it reaches 80rem */
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 80rem;
}

.postListContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
    width: 100%;

    max-width: 80rem;
    padding-inline: 2em;
    margin-block: 7rem 2rem;
}

.container_background {
	background-color: hsl(var(--clr-light) / 0.1);
	border-radius: 1rem;
}

.fullscreenPanel {
	/* fill up 100% of the container, which takes up the whole screen */
	min-height: 100vh;
}

.ffSerif {
	font-family: var(--ff-serif);
}
.ffSansCond {
	font-family: var(--ff-sans-cond);
}
.ffSansNormal {
	font-family: var(--ff-sans-normal);
}

.letterSpacing1 {
	letter-spacing: 4.75px;
}
.letterSpacing2 {
	letter-spacing: 2.7px;
}
.letterSpacing3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.fs900 {
	font-size: var(--fs-900);
}
.fs800 {
	font-size: var(--fs-800);
}
.fs700 {
	font-size: var(--fs-700);
}
.fs600 {
	font-size: var(--fs-600);
}
.fs500 {
	font-size: var(--fs-500);
}
.fs400 {
	font-size: var(--fs-400);
}
.fs300 {
	font-size: var(--fs-300);
}
.fs200 {
	font-size: var(--fs-200);
}

.fs900,
.fs800,
.fs700,
.fs600 {
	line-height: 1.1;
}
